mixin control(id)
	img.bs-icon(src="assets/img/glyphicons/glyphicons_042_group.png")
	h3 #{id}
	p Like you, we love building awesome products on the web.
	p
		#switch.btn-group(data-toggle="buttons-radio")
			button.btn(value="on") On
			button.btn(value="off") Off