.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="./index.html")
				| Zowgle
			.nav-collapse.collapse
				ul.nav
					li.active
						a(href="./index.html")
							| Overview1
					li
						a(href="./index.html")
							| Overview2
					li
						a(href="./index.html")
							| Overview3